.month-page {
  margin-top: 15px;
}
.month-page .icon {
  width: 24px;
  height: 24px;
  background: url(../images/news.icon.png) no-repeat;
  display: inline-block;
  margin-bottom: -5px;
}
.month-page .left-menu {
  width: 200px;
  float: left;
  padding-top: 20px;
}
.month-page .left-menu h3 {
  line-height: 26px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
  border-bottom: 5px solid #f0f0f0;
  padding-bottom: 10px;
}
.month-page .left-menu h3 .icon-page {
  background-position: 0 -120px;
  margin-right: 5px;
}
.month-page .left-menu ul .current {
  color: #fff;
  background: #5d96f2 url(../images/arrow.png) no-repeat 175px center;
  text-decoration: none;
  border-left: 3px solid #5d96f2;
}
.month-page .left-menu ul li a {
  display: block;
  font-size: 16px;
  padding: 8px 15px;
}
.month-page .right-con {
  width: 770px;
  float: right;
  padding: 25px 0;
}
.month-page .right-con .location {
  color: #666;
  margin-bottom: 12px;
  border-bottom: 1px dotted #dfdfdf;
  font-size: 13px;
  padding-bottom: 10px;
}
.month-page .right-con .location a {
  color: #555;
  padding: 0 2px;
}
.month-page .right-con .location .span {
  color: #999;
  padding: 0 2px;
}
.month-page .right-con .select-year {
  border-bottom: 5px solid #f0f0f0;
  padding-bottom: 5px;
  overflow: hidden;
  padding-top: 10px;
}
.month-page .right-con .select-year li {
  display: inline-block;
}
.month-page .right-con .select-year li a {
  display: inline-block;
  float: left;
  font-size: 20px;
  color: #888;
  padding: 0 15px;
  cursor: pointer;
}
.month-page .right-con .select-year .active a {
  color: #5d96f2;
  font-size: 22px;
  margin-top: 0px;
  font-weight: bold;
}
.month-page .right-con .photo {
  margin-top: 20px;
}
.month-page .right-con .photo ul {
  display: none;
}
.month-page .right-con .photo .photo-13,
.month-page .right-con .photo .photo-12 {
  height: 200px;
}
.month-page .right-con .photo .photo-13 li,
.month-page .right-con .photo .photo-12 li {
  border: none;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.month-page .right-con .photo .photo-16,
.month-page .right-con .photo .photo-15,
.month-page .right-con .photo .photo-14 {
  display: block;
}
.month-page .right-con .photo .photo-16 li,
.month-page .right-con .photo .photo-15 li,
.month-page .right-con .photo .photo-14 li {
  width: 179px;
  height: 244px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  float: left;
  margin-right: 15px;
  margin-bottom: 28px;
  position: relative;
}
.month-page .right-con .photo .photo-16 li p,
.month-page .right-con .photo .photo-15 li p,
.month-page .right-con .photo .photo-14 li p {
  position: absolute;
  text-align: center;
  margin-left: -6px;
  width: 179px;
}
.month-page .right-con .photo .photo-16 li:nth-child(4n),
.month-page .right-con .photo .photo-15 li:nth-child(4n),
.month-page .right-con .photo .photo-14 li:nth-child(4n) {
  margin-right: 0;
}
.month-page .right-con .photo .photo-16 li:hover,
.month-page .right-con .photo .photo-15 li:hover,
.month-page .right-con .photo .photo-14 li:hover {
  background: #5d96f2;
  color: #fff;
  text-shadow: none;
}
.month-page .right-con .photo .photo-16 li:hover a,
.month-page .right-con .photo .photo-15 li:hover a,
.month-page .right-con .photo .photo-14 li:hover a {
  color: #fff;
}
.month-page .right-con .photo .photo-16 li:hover a i,
.month-page .right-con .photo .photo-15 li:hover a i,
.month-page .right-con .photo .photo-14 li:hover a i {
  background-position: -144px -120px;
}
.month-page .right-con .photo .photo-16 li img,
.month-page .right-con .photo .photo-15 li img,
.month-page .right-con .photo .photo-14 li img {
  width: 168px;
  height: 210px;
}
.month-page .right-con .photo .photo-16 li i,
.month-page .right-con .photo .photo-15 li i,
.month-page .right-con .photo .photo-14 li i {
  width: 24px;
  height: 24px;
  background: url(../images/pwf_icon.png) no-repeat;
  display: inline-block;
  margin-bottom: -5px;
  background-position: -48px -24px;
  margin-right: 5px;
}
.month-page .right-con .photo .month-icon {
  display: inline-block;
  background: url(../images/month-page-icon.png) no-repeat top right;
  height: 24px;
  line-height: 24px;
  min-width: 30px;
  text-align: center;
  padding: 0 10px;
  color: #fff;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
}
.month-page .right-con .page {
  margin-top: 30px;
  text-align: center;
}
.month-page .right-con .page li {
  display: inline-block;
}
.month-page .right-con .page li:nth-child(3) a {
  background: #e0e0e0;
}
.month-page .right-con .page li a {
  color: #999;
  padding: 5px 10px;
  border: 1px solid #dfdfdf;
  display: inline-block;
}
.month-page .right-con .page li .active {
  background: #e0e0e0;
}
