*{margin: 0; padding: 0; font-size: 12px; line-height:24px; color: #ffdf9c;
 -webkit-tap-highlight-color:transparent; -webkit-appearance:none; }
body{background-color: #371e00;}
body::-webkit-scrollbar{width: 0px;}
textarea::-webkit-scrollbar{width: 0px;}
div::-webkit-scrollbar{width:0px;}
a:focus,input:focus,div:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{display: block; border: none 0; width: 100%;}
input,textarea{border: 0 none; display: block;}
input[type=search] { -webkit-appearance: none; }
.d-block{display: block;}
.d-none{display: none;}
.v-none{visibility: hidden;}
/*文字和li重置*/
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{text-decoration: none;}
li{list-style: none;}
/*浮动和定位*/
.fl{float: left;}
.fr{float: right;}
.clear:before,.clear:after {content:"";display:table;}
.clear:after {clear:both;overflow:hidden;}
.clear {zoom:1;}
.rel{position: relative;}
.abs{position: absolute;}
/*字体大小*/
.f-14{font-size: 14px;}
.f-16{font-size: 16px;}
.f-18{font-size: 18px;}
.f-20{font-size: 20px;}
.f-30{font-size: 30px;}
/*字体颜色和样式*/
.f-black{color: #000;}
.f-white{color: #fff;}
.f-bold{font-weight: bold;}
.f-underline{text-decoration: underline;}
.lh-24{line-height: 24px;}
.lh-30{line-height: 30px;}
.lh-50{line-height: 50px;}
.t-center{text-align: center;}
.t-right{text-align: right;}
.t-just{text-align:justify;}
.t-over2{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;white-space:normal!important;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.t-over1{white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
/*间距*/
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}
.mb100{margin-bottom: 100px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.pb5{padding-bottom: 5px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pt10{padding-top: 10px;}
.pt30{padding-top: 30px;}
.pl10{padding-left: 10px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
/*边框*/
.bb-black{border-bottom: 1px solid #04190e;}
.bd-black{border: 1px solid #004333;}
/*背景色*/
.green{background-color: #e0f4f7;}
/*宽度百分比*/
.per20{width: 20%;}
.per30{width: 30%;}
.per40{width: 40%;}
.per80{width: 80%;}
/*间距百分比*/
.mr-per12{margin-right: 12%;}
/*字体*/
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.ttf') format('truetype'), 
  url('../font/iconfont.svg#iconfont') format('svg'); 
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-xxx:before { content: "\e600"; }
/*文档内的统一样式*/
/*预加载*/
#loading-mask{width: 100%; height: 100%; background-color:rgba(0,0,0,.7); position: fixed; left: 0; top: 0; z-index:100;}
.load4{top: 34%; position: absolute; left:48% ;}
.load4 .loader {
  font-size: 6%;margin: 5em auto;width: 1em;height: 1em;border-radius: 50%;position: relative;text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;-webkit-transform: translateZ(0);transform: translateZ(0);}
@-webkit-keyframes load4 {
  0%,100% {box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;}
  12.5% {box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  25% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  37.5% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  50% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  62.5% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  75% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;}
  87.5% { box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;}
}
@keyframes load4 {
  0%,100% { box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff; }
  12.5% {box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff; }
  25% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  37.5% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff; }
  50% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  62.5% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;}
  75% {box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;}
  87.5% {box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;}
}
/*音乐*/
@-webkit-keyframes rotate{
	from{}
	to{-webkit-transform: rotate(360deg);}
}
@keyframes rotate{
	from{}
	to{transform: rotate(360deg);}
}
.music-icon{ width: 26px; height: 26px; position: absolute; top: 3%; right: 3%; z-index: 250; background-image: url(../images/music.png); background-position: 0 0;}
.music-shift{background-position: 0px -30px;}
.rotate{animation: rotate 2s infinite linear; -webkit-animation: rotate 2s infinite linear;}
/*正文*/
.header-img{width: 50px; height: 50px; border-radius: 50%; -webkit-border-radius: 50%;}
.fix-top{position: fixed;top: 0; left: 0; width: 100%; z-index: 5;}
.fix-bottom{position: fixed; bottom: 0; left: 0; width: 100%;}
.mask{width: 100%; height: 100%; background-color:rgba(0,0,0,.5); position: fixed; left: 0; top: 0; z-index:80; display: none;}
.zoominup{animation: zoomInUp 1s .1s forwards; -webkit-animation: zoomInUp 1s .1s forwards;}
.share-friends{width: 60%; top: 3%;right: 5%; z-index: 120; opacity: 0; display: none; }
.pop{width: 90%; position: fixed; z-index: 100; left: 5%; top: 19%;display: none;border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;  }
.pop-title{line-height: 36px; font-size: 16px; background-color: #8f0111;border-top-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-right-radius: 4px; -webkit-border-top-right-radius: 4px;}
.pop-box{width: 94%; margin:0 auto; padding: 10px 0;}
.close{width:20px; right: 5px; position: absolute; z-index: 2; top: 8px;}
.twocode{width: 40%; margin: 10px auto;}
.page-bottom-box{width: 80%; position: fixed; bottom: 15%; left: 10%; z-index: 100;}
.text-95{width: 95%;}
.white{background-color: #fff;}
.border-bottom4{border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; }
/*start*/
@-webkit-keyframes flash {
  0%, 50%, 100% {opacity: 1;}

  25%, 75% { opacity: 0;}
}

@keyframes flash {
  0%, 50%, 100% {opacity: 1;}

  25%, 75% {opacity: 0;}
}
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -500px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
   100%{opacity: 1;}
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -500px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  100%{opacity: 1;}
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1); opacity: 1;
  }
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1); opacity: 1;
  }
}
@-webkit-keyframes bg1{
	from{}
	to{background-image: url(../images/index-btnbg2.png);}
}
@keyframes bg1{
	from{}
		to{background-image: url(../images/index-btnbg2.png);}
}
@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 500px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
    100%{opacity: 1;}
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 500px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
    100%{opacity: 1;}
}
@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 40%, 0);
  }

  100% {
    -webkit-transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 40%, 0);
  }

  100% {
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 40%, 0);
  }

  100% {
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
  }
   20%{opacity: .5;   -webkit-transform: translate3d(0, -150%, 0);}
  100% {
  	opacity: 0;

  }
}

@keyframes fadeOutUp {
  0% {
  }
20%{opacity: .5;    transform: translate3d(0, -150%, 0);}
  100% {
  	opacity: 0;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
    100%{opacity: 1;}
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
  100%{opacity: 1;}
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1); 
  }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0); opacity: 1;
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0); opacity: 1;
  }
}
.per25{width: 25%;}
.per50{width: 50%;}

.index-adorn1{width: 95%;left: 5%; opacity: 0; top: 2.23rem; animation: zoomInDown 1.2s .8s forwards; -webkit-animation: zoomInDown 1.2s .8s forwards; }
.index-color1{ width:2.86rem; animation: flash .8s 4.2s infinite; -webkit-animation: flash .8s 4.2s infinite; opacity: 0; z-index: 6; left: 0.8rem; top: 3.12rem;}
.index-color2{animation: flash 1.5s 4s infinite; -webkit-animation: flash 1.5s 4s infinite;
 opacity: 0; z-index: 6;right: 0.3rem; top: 5.04rem; width:1.92rem;}
.index-adorn1-1{width: 90%;left: 8%; top:2.3rem; opacity: 0; -webkit-animation: flash .6s 1s infinite;animation: flash .6s 1s infinite; z-index: 3; top: 20%; }
.index-adorn1-2{width: 100%;top:2%; opacity: 0; -webkit-animation: flash 3.8s 1s infinite;animation: flash 3.8s 1s infinite; z-index: 4;  }
.index-title{ top: 1.7rem; width: 5.15rem; left: 1.05rem; z-index: 5; opacity: 0; animation: zoomIn 1.2s 2s forwards,tada 1.2s 3.2s forwards; -webkit-animation: zoomIn 1.2s 2s forwards,tada 1.2s 3.2s forwards;}
.index-light{ top: 3.7rem; width: 18%; left: 3rem; z-index: 6; opacity: 0; animation: flash 1s 3.5s  infinite; -webkit-animation: flash 1s 3.5s infinite;}

.index-btn-box{width: 40%; position: fixed; bottom: 8%; left: 30%; z-index: 6; opacity: 0; animation: bounceInUp 1s 4s forwards; -webkit-animation: bounceInUp 1s 4s forwards; }
.f-yellow{color: #fff6a9;}
.tip-pop{top: 10%;}
.page2-logo{width: 40%; margin: 10px auto;}
.f-red{color: #e40000;}
.clockbox{}
.block2{height: 24px; width: auto; margin:0 5px 0 37%;}
.f-gray{color: #690004;}
.redbag-box{width: 80%; margin: 20px auto; z-index: 4;}
.pop *{ color: #333;}
.screen-txt{z-index: 110; top: 30%; left: 30%; width: 40%;}
@media only screen and (max-height: 480px) {
	.tip-pop{top: 10%; }
	.tip-box{height: 320px; overflow-y: auto;}
	
}
@media only screen and (max-height: 568px) {
	.btn1{width: 70%;font-size: 14px;}
	.index-adorn1{width: 90%; margin-left: 10%;}
	.index-bottom{bottom: -5%;}
}