<div class="password">
	<div class="password-box">
		<form action="" method="get" ng-model="myForm"  name="myForm" accept-charset="utf-8">
		
		<h3>找回密码</h3>
		<!-- phone -->
		<input class="one" type="text" name="phone" ng-model="phone" required ng-pattern='/^(1[^012][0-9]{9})$/' placeholder="请输入您的手机号码">
		<div class="error-class" ng-show="myForm.phone.$dirty&&myForm.phone.$error.required">手机号是必填项</div>
		<div class="error-class" ng-show="myForm.phone.$error.pattern">您输入的号码有误，请检查！</div>
		<!-- 验证码 -->
		<input class="code" type="text" name="code" ng-model="code" required placeholder="请输入验证码" ng-minlength="5">
		<button type="button" ng-click="click()" ng-show="!showA">点击发送</button>
		<button type="button" ng-click="!showA" ng-show="showA">已发送，{{curTime}}秒后重发</button>
		<div class="error-class" ng-show="myForm.code.$dirty&&myForm.code.$error.minlength">
			验证码错误，请重新输入！
		</div>
		<input class="one btn" type="button" value="找回密码"></input>
	</form>
	</div>
	<div class="password-bot">
		<span>新用户？</span><span ui-sref="register" class="password-txt">立即注册</span>
	</div>
</div>