<div class="bot1">
	<div class="safety">
		<ul class="clear">
			<li ng-click="mycl(0)" ng-class="{active:Active==0}">修改密码</li>
			<li ng-click="mycl(1)" ng-class="{active:Active==1}">实名认证</li>
			<li ng-click="mycl(2)" ng-class="{active:Active==2}">邮箱认证</li>
		</ul>
		<form action="" method="get" ng-model="myForm"  name="myForm" accept-charset="utf-8">
		
		<div class="safety-box" ng-show="Active==0">
			<p>
				<span class="one">当前密码</span>
				<input type="text" name="" value="" placeholder="">
			</p>
			<p>
				<span class="one">新密码</span>
				<input type="text" name="" value="" placeholder="">
				<span class="last">(密码不小于6位)</span>
			</p>
			<p>
				<span class="one">已绑定手机</span>
				<span class="tel">136****0800</span>
			</p>
			<p>
				<span class="one">验证码</span>
				<input type="text" name="code" ng-model="code" value="" placeholder="输入验证码" ng-minlength="5" required>
				<button type="button">免费获取验证码</button>
			</p>
			<div class="error" ng-show="myForm.code.$dirty&&myForm.code.$error.minlength">验证码错误，请重新输入！</div>
			<div class="btn">保存</div>
		</div>

		<div class="safety-box" ng-show="Active==1">
			<p class="blue">身份证认证由NCIIC提供接口</p>
			<p>
				<span class="one">姓名</span>
				<input type="text" name="" value="" placeholder="">
			</p>
			<p>
				<span class="one">身份证号</span>
				<input type="text" name="num" ng-model="num" value="" ng-minlength="18" required placeholder="">
			</p>
			<div class="error" ng-show="myForm.num.$dirty&&myForm.num.$error.minlength">
				<span class="first">!</span>
				<span>请输入正确的身份证号码</span>
			</div>
			<div class="btn">保存</div>
		</div>

		<div class="safety-box" ng-show="Active==2">
			<p>
				<span class="one">邮箱地址</span>
				<input type="text" name="" value="" placeholder="">
			</p>
			<p>
				<span class="one">验证码</span>
				<input type="text" name="code" ng-model="code" value="" ng-minlength="18" required placeholder="输入验证码">
				<button type="button">发送验证码</button>
			</p>
			<div class="error" ng-show="myForm.code.$dirty&&myForm.code.$error.minlength">验证码错误，请重新输入！</div>
			<div class="btn">保存</div>
		</div>
		</form>
	</div>
</div>
