<div class="img-top">
    <img src="images/ab1.jpg" alt="">
</div>
<div class="content w1000 clear">
    <div class="left">
        <h2>
			<span></span>
			关于我们
		</h2>
        <ul class="l-ul">
            <li><a href="about.html">顺丰公司简介</a></li>
            <li><a href="ab2.html">组织架构</a></li>
            <li  class="active"><a href="ab3.html">理事会 I 监事会</a></li>
            <li><a href="ab4.html">秘书长</a></li>
        </ul>
    </div>
    <div class="right">
            <div class="r-t">
                <p class="one">
                    您当前的位置：
                    <a href="">首页</a>  &gt;
                    <a href="">  关于我们</a> &gt;
                    <span>理事会 & 监事会</span>
                </p>
            </div>
            <div class="show-ul">
                <div class="img-box" align="center">
                    <img class="img4" src="images/show-8.jpg" alt="">
                </div>
            </div>
        </div>
</div>
