<div class="img-top">
    <img src="images/ab1.jpg" alt="">
</div>
<div class="content w1000 clear">
    <div class="left">
        <h2>
			<span></span>
			关于我们
		</h2>
        <ul class="l-ul">
            <li class="active"><a href="about.html">顺丰公司简介</a></li>
            <li><a href="ab2.html">组织架构</a></li>
            <li><a href="ab3.html">理事会 I 监事会</a></li>
            <li><a href="ab4.html">秘书长</a></li>
        </ul>
    </div>
    <div class="right">
            <div class="r-t">
                <p class="one">
                    您当前的位置：
                    <a href="">首页</a>  &gt;
                    <a href="">  关于我们</a> &gt;
                    <span>顺丰公司简介</span>
                </p>
            </div>
            <div class="show-ul">
                <ul class="ul">
                    <li>
                        <h3>{{aboutR[0].txt}}</h3>
                        <p class="p1">{{aboutR[0].txt2}}</p>
                        <div class="two">
                            <p class="p2">{{aboutR[0].txt3}}</p>
                            <div class="txt">
                                ##for(var i = 0; i <aboutR[0].txt4.length; i++){##
                                    <p class="p3 w80">{{aboutR[0].txt4[i].txt}}</p>
                                <p class="p2 w80">{{aboutR[0].txt4[i].txt1}}</p>
                                ##}##
                            </div>
                            <p class="p2">{{aboutR[0].txt5}}</p>
                            <p class="p2">{{aboutR[0].txt6}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>
