<div class="zy-header">
	<div class="logo w1000 clear">
		<a class="logo-img" href="#"></a>
		<div class="logo-rt">
			<span>您好，欢迎关注顺丰公益基金会</span>
			<i class="icon-line"></i>
			<a class="enter" href="login.html">
				进入志愿者平台
				<img class="new" src="../images/new.gif" alt="">
			</a>
			<i class="icon-line"></i>
			<a class="sc" href="#">
				<i class="icon-star"></i>
				收藏本站
			</a>
		</div>
	</div>
	<div class="menu">
		<div class="w1000">
			<ul class="nav clear">
				<li class="top active">
					<a class="top-link" href="index.html">首页</a>
				</li>
				<li class="top">
					<a class="top-link" href="about.html">关于我们</a>
					<ul class="sub">
						<li><a href="about.html">顺丰公益简介</a></li>
						<li><a href="ab2.html">组织架构</a></li>
						<li><a href="ab3.html">理事会 I 监事会</a></li>
						<li><a href="ab4.html">秘书长</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="project.html">项目介绍</a>
					<ul class="sub">
						<li><a href="project.html">莲花助学</a></li>
						<li><a href="pro4.html">顺丰莲花小学</a></li>
						<li><a href="pro3.html">一人一书桌</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="news.html">新闻动态</a>
					<ul class="sub">
						<li><a href="news.html">顺丰公益动态</a></li>
						<li><a href="news.html">媒体关注</a></li>
						<li><a href="month-page.html">公益月报</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="volunteer.html">我是志愿者</a>
					<ul class="sub">
						<li><a href="volunteer.html">志愿者活动纪念册</a></li>
						<li><a href="vol-story.html">公益故事</a></li>
						<li><a href="vol-story.html">招募广告</a></li>
					</ul>
				</li>
				<li class="top">
					<a class="top-link" href="map.html">公益地图</a>
				</li>
				<li class="top">
					<a class="top-link" href="message.html">信息公示</a>
					<ul class="sub">
						<li><a href="message.html">信息公示</a></li>
						<li><a href="message.html">政策制度</a></li>
						<li><a href="message.html">年度报告</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>