<div class="zy-home w1000">
	<div class="slider">
		<ul class="slider-con clear">
			<li><img src="../images/banner1.JPG" alt=""></li>
			<li><img src="../images/banner2.JPG" alt=""></li>
			<li><img src="../images/banner3.JPG" alt=""></li>
			<li><img src="../images/banner4.JPG" alt=""></li>
			<li><img src="../images/banner5.JPG" alt=""></li>
			<li><img src="../images/banner6.JPG" alt=""></li>
			<li><img src="../images/banner7.JPG" alt=""></li>
		</ul>
		<ul class="slider-nav">
			<li><img src="../images/banner1.JPG" alt=""></li>
			<li><img src="../images/banner2.JPG" alt=""></li>
			<li><img src="../images/banner3.JPG" alt=""></li>
			<li><img src="../images/banner4.JPG" alt=""></li>
			<li><img src="../images/banner5.JPG" alt=""></li>
			<li><img src="../images/banner6.JPG" alt=""></li>
			<li><img src="../images/banner7.JPG" alt=""></li>
		</ul>
		<a class="prev point"></a>
		<a class="next point"></a>
	</div>
	<div class="main clear">
		<div class="main-left">
			<section class="zxdt">
				<h1 class="main-title">
					<span><i class="icon icon-dt"></i>最新动态</span>
					<a class="more" href="#">更多</a>
					<div class="hd">
						<a class="prev"></a>
						<span class="on"></span>
						<span></span>
						<span></span>
						<a class="next"></a>
					</div>
				</h1>
				<div class="dt-con">
					<ul class="clear con-box">
						<li>
							<a href="#"><img src="../images/zxdt_img1.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img1.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img1.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img2.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img2.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img2.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img3.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img3.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
						<li>
							<a href="#"><img src="../images/zxdt_img3.jpg" alt=""></a>
							<p class="dt-foot">
								<span class="ft-title">基金会组织“饥饿24小时”体验</span>
								<span class="time">2016-10-20</span>
							</p>
						</li>
					</ul>
				</div>
			</section>
			<div class="clear">
				<section class="hdjn">
					<h1 class="main-title">
						<span><i class="icon icon-hd"></i>志愿者活动纪念册</span>
						<a class="more" href="#">更多</a>
					</h1>
					<div class="picbox">
						<ul class="piclist clear">
							<li>
								<a href="#"><img src="../images/hdjn_img1.jpg" alt=""></a>
								<p>莲花助学公益行2016年广西都安站</p>
							</li>
							<li>
								<a href="#"><img src="../images/hdjn_img2.jpg" alt=""></a>
								<p>莲花助学公益行2016年广西都安站</p>
							</li>
							<li>
								<a href="#"><img src="../images/hdjn_img3.jpg" alt=""></a>
								<p>莲花助学公益行2016年广西都安站</p>
							</li>
						</ul>
						<div class="pic-prev pic-point"></div>
						<div class="pic-next pic-point"></div>
					</div>
				</section>
				<section class="gygs">
					<h1 class="main-title">
						<span><i class="icon icon-gy"></i>公益故事</span>
						<a class="more" href="#">更多</a>
					</h1>
					<ul class="gygs-list">
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author"></span>
							</a>	
						</li>
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author">林敏</span>
							</a>	
						</li>
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author">林敏</span>
							</a>	
						</li>
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author">林晓芸</span>
							</a>	
						</li>
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author">林敏</span>
							</a>	
						</li>
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author">林晓芸</span>
							</a>	
						</li>
						<li>
							<a href="#">
								<span class="title">【巍山故事】忘不了的那些瞬间</span>
								<span class="author">林敏</span>
							</a>	
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="main-right">
			<section>
				<h1 class="main-title">
					<span><i class="icon icon-wx"></i>微信公众号</span>
					<a class="more" href="#">更多</a>
				</h1>
				<div class="weixin">
					<p>扫码关注我们，了解更多讯息</p>
					<img src="../images/qrcode_new.jpg" alt="">
				</div>
			</section>

			<section class="gyyb">
				<h1 class="main-title">
					<span><i class="icon icon-yb"></i>公益月报</span>
					<a class="more" href="#">更多</a>
				</h1>
				<div class="yb-con">
					<div class="yb-list clear">
						<ul>
							<li>
								<a href="#">
									<span class="num-tag">第27期</span>
									<img src="../images/yb-img1.jpg" alt="">
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<span class="num-tag">第27期</span>
									<img src="../images/yb-img2.jpg" alt="">
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<span class="num-tag">第27期</span>
									<img src="../images/yb-img3.jpg" alt="">
								</a>
							</li>
						</ul>
					</div>
					<div class="yb-prev yb-point"></div>
					<div class="yb-next yb-point"></div>
				</div>
			</section>
				
		</div>
	</div>
	<a href="#" class="topcontrol">
		<img src="../images/toback.png" alt="">
	</a>
</div>