<div class="messageImg">
    <img src={{imgurl[0]}} alt="">
</div>
<div class="messageContent clear">
    <div class="messageContent-left">
		<div class="messageContent-left-title clear">
			<span class="icon"></span>
			<span>信息公示</span>
		</div>
		<div class="messageContent-left-nav">
			<ul>
				<li><span class="list">信息公示</span><span class="icon"></span></li>
				<li><span class="list"><a href="../zczd.html">政策制度</a></span></li>
				<li><span class="list">年度报告</span></li>
			</ul>
		</div>
    </div>
    <div class="messageContent-right">
		<div class="messageContent-right-title">
			<span>您当前的位置:首页&gt;信息公示&gt;信息公示</span>
		</div>
		<div class="messageContent-right-news">
			<ul>
				<li class="clear">
					<span class="icon"></span>
					<span>顺丰公益基金会2016年上半年财务报告</span>
					<span class="icon2"></span>
					<span class="time">2016-01-01</span>
				</li>
				<li class="clear">
					<span class="icon"></span>
					<span>2015年顺丰公益基金会年检工作报告</span>
					<span class="icon2"></span>
					<span class="time">2016-01-01</span>
				</li>
				<li class="clear">
					<span class="icon"></span>
					<span>广东省顺丰慈善基金会2014年度工作报告摘要</span>
					<span class="icon2"></span>
					<span class="time">2016-01-01</span>
				</li>
				<li class="clear">
					<span class="icon"></span>
					<span>广东省顺丰慈善基金会2014年度工作报告摘要</span>
					<span class="icon2"></span>
					<span class="time">2016-01-01</span>
				</li>
				<li class="clear">
					<span class="icon"></span>
					<span>广东省顺丰慈善基金会2014年度工作报告摘要</span>
					<span class="icon2"></span>
					<span class="time">2016-01-01</span>
				</li>
				<li class="clear">
					<span class="icon"></span>
					<span>广东省顺丰慈善基金会2014年度工作报告摘要</span>
					<span class="icon2"></span>
					<span class="time">2016-01-01</span>
				</li>
			</ul>
		</div>
		<div class="messageContent-right-num">
			<span class="firstPage">首页</span>
			<span class="prev">上一页</span>
			<span class="num">1</span>
			<span class="next">下一页</span>
			<span class="lastPage">尾页</span>
		</div>
    </div>
</div>
