<div class="img-top">
        <img src="images/show-1.JPG" alt="">
    </div>
    <div class="content clear w1000">
        <div class="left">
            <h2>
            <span></span>
            项目介绍
        </h2>
        <ul class="l-ul">
            <li class="active"><a href="project.html">莲花助学</a></li>
            <li><a href="pro4.html">顺丰莲花小学</a></li>
            <li><a href="pro3.html">一人一书桌</a></li>
        </ul>

        </div>
        <div class="right">
            <div class="r-t">
                <p class="one">
                    您当前的位置：
                    <a href="">首页</a> &gt;
                    <a href="">  关于我们</a> &gt;
                    <span>莲花助学</span>
                </p>
            </div>
            <div class="show-ul">
            <ul class="ul">
                    <li>
                        <h1>{{topR[0].txt}}</h1>
                        <p class="p2">{{topR[0].del[0].txt}}</p>
                        <p class="p2">{{topR[0].del[1].txt}}</p>
                        <p class="p2">{{topR[0].del[2].txt}}</p>
                    </li>
                     <li>
                        <h1>{{topR[1].txt}}</h1>
                        <p class="p2">{{topR[1].del[0].txt1}}</p>
                        <p class="p2">{{topR[1].del[0].txt2}}</p>
                        <p class="p2">{{topR[1].del[1].txt1}}</p>
                        <p class="p2">{{topR[1].del[1].txt2}}</p>
                    </li>
            </ul>
            </div>
        </div>
    </div>