<div class="messageImg">
    <img src={{imgurl[0]}} alt="">
</div>
<div class="messageContent clear">
    <div class="messageContent-left">
        <div class="messageContent-left-title clear">
            <span class="icon"></span>
            <span>信息公示</span>
        </div>
        <div class="messageContent-left-nav">
            <ul>
                <li><span class="list"><a href="../message.html">信息公示</a></span></li>
                <li class="active"><span class="list">政策制度</span><span class="icon"></span></li>
                <li><span class="list">年度报告</span></li>
            </ul>
        </div>
    </div>
    <div class="messageContent-right">
        <div class="messageContent-right-title">
            <span>您当前的位置:首页&gt;信息公示&gt;政策制度</span>
        </div>
        <div class="messageContent-right-news">
            <ul>
                <li class="clear">
                    <span class="icon"></span>
                    <span>顺丰公益"陪伴人"管理细则</span>
                    <span class="icon2"></span>
                    <span class="time">2016-01-01</span>
                </li>
                <li class="clear">
                    <span class="icon"></span>
                    <span>顺丰公益基金会财务管理制度</span>
                    <span class="icon2"></span>
                    <span class="time">2016-01-01</span>
                </li>
                <li class="clear">
                    <span class="icon"></span>
                    <span>顺丰公益基金人事管理制度</span>
                    <span class="icon2"></span>
                    <span class="time">2016-01-01</span>
                </li>
                <li class="clear">
                    <span class="icon"></span>
                    <span>顺丰公益基金公益项目管理制度</span>
                    <span class="icon2"></span>
                    <span class="time">2016-01-01</span>
                </li>
                <li class="clear">
                    <span class="icon"></span>
                    <span>顺丰公益基金档案管理制度</span>
                    <span class="icon2"></span>
                    <span class="time">2016-01-01</span>
                </li>
            </ul>
        </div>
        <div class="messageContent-right-num">
            <span class="firstPage">首页</span>
            <span class="prev">上一页</span>
            <span class="num">1</span>
            <span class="next">下一页</span>
            <span class="lastPage">尾页</span>
        </div>
    </div>
</div>
