.img-top {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content {
  padding-bottom: 30px;
}
.left {
  width: 20%;
  float: left;
}
.left h2 {
  line-height: 26px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
  border-bottom: 5px solid #f0f0f0;
  padding-bottom: 10px;
}
.left h2 span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/pwf_icon.png) 0 -120px no-repeat;
  margin-bottom: -5px;
}
.left ul li {
  margin-bottom: 3px;
}
.left ul li a {
  display: block;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
}
.left ul li.active a,
.left ul li.active:hover a {
  color: #fff;
  background: #5d96f2 url(../images/arrow.png) no-repeat 175px center;
  border-left: 3px solid #5d96f2;
  padding-left: 12px;
}
.left ul li:hover a {
  color: #5d96f2;
  background-color: #f5f5f5;
  text-decoration: none;
  padding-left: 12px;
  border-left: 3px solid #5d96f2;
}
.r-t {
  border-bottom: 1px dotted #dfdfdf;
  margin-bottom: 12px;
  font-size: 13px;
  padding: 8px 0;
}
.r-t .one {
  color: #666;
}
.r-t .one a {
  color: #555;
  padding: 0 2px;
}
.r-t .one span {
  color: #999;
  padding: 0 2px;
}
.right {
  width: 75%;
  float: right;
  padding-bottom: 30px;
}
.right .show-ul .img-box .img3,
.right .show-ul .img-box .img4 {
  width: 750px;
}
.right .show-ul .ul li {
  margin-bottom: 20px;
  font-family: "宋体";
}
.right .show-ul .ul li.one {
  border-bottom: 2px dashed #0070C0;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.right .show-ul .ul li h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.right .show-ul .ul li .h3 {
  background: url(../images/arrow_s.png) 14px center no-repeat;
  margin-bottom: 20px;
}
.right .show-ul .ul li .pl {
  padding-left: 28px;
}
.right .show-ul .ul li .p2 {
  text-indent: 28px;
  line-height: 28px;
}
.right .show-ul .ul li .txt-t {
  text-align: center;
  margin-bottom: 20px;
}
.right .show-ul .ul li .txt-t p {
  color: #0070C0;
  font-size: 15px;
  font-weight: bold;
}
.right .show-ul .ul li .txt-t p.mat {
  margin-top: 30px;
}
.right .show-ul .ul li .txt-t span {
  color: #0070c0;
  font-size: 13px;
}
.right .show-ul .ul li .txt-b h6 {
  text-align: center;
  font-size: 15px;
}
.right .show-ul .ul li .txt-b h6 p {
  text-indent: 28px;
  font-size: 15px;
}
.right .show-ul .ul li h3 {
  line-height: 30px;
  text-indent: 28px;
  font-size: 14px;
}
.right .show-ul .ul li h3 b {
  color: #999;
}
.right .show-ul .ul li p.p1 {
  font-size: 13px;
  text-indent: 28px;
}
.right .show-ul .ul li p.p3 {
  color: #3e3e3e;
  text-indent: 28px;
  font-size: 15px;
  line-height: 30px;
}
.right .show-ul .ul li p.p3 span {
  color: #000;
  font-weight: bold;
}
.right .show-ul .ul li .two {
  font-family: "楷体";
}
.right .show-ul .ul li .two p.p2 {
  text-indent: 28px;
}
.right .show-ul .ul li .two .txt .p3 {
  font-size: 13px;
  color: #000;
  font-weight: bold;
}
.right .show-ul .ul li .two .txt .w80 {
  width: 90%;
  line-height: 28px;
  text-indent: 0px;
  margin-left: 10%;
}
