.list-detail {
  margin-top: 20px;
}
.list-detail .location {
  color: #666;
  margin-bottom: 12px;
  font-size: 13px;
  padding-bottom: 10px;
}
.list-detail .location a {
  color: #555;
  padding: 0 2px;
}
.list-detail .location .span {
  color: #999;
  padding: 0 2px;
}
.list-detail .main .left {
  width: 755px;
  padding-right: 20px;
  border-right: 1px solid #efefef;
  float: left;
}
.list-detail .main .right {
  width: 220px;
  float: right;
}
.list-detail .main .right .right-top {
  padding: 15px 10px;
  background-color: #f5f5f5;
  border: 1px solid #efefef;
  overflow: hidden;
  margin-bottom: 30px;
}
.list-detail .main .right .right-top img {
  width: 75px;
  height: 75px;
}
.list-detail .main .right .right-top span.text {
  float: right;
  width: 118px;
  margin-top: 18px;
}
.list-detail .main .right .section {
  margin-bottom: 30px;
  overflow: hidden;
}
.list-detail .main .right .section h3 {
  margin-bottom: 10px;
}
.list-detail .main .right .section li {
  padding: 3px 0 4px 10px;
  line-height: 20px;
  background: url(../images/news.icon.png) no-repeat -85px 8px;
}
.list-detail .main .right .section li a {
  width: 190px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-detail .main .title {
  padding: 20px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
  text-align: center;
}
.list-detail .main .title p {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
}
.list-detail .main .con .text {
  text-align: justify;
  line-height: 30px;
  color: black;
}
.list-detail .main .con .img img {
  margin: 20px 0 30px;
}
