body {
  background: #f3f8fc url(../images/register_bg.png) no-repeat;
}
.main .up {
  margin-bottom: 15px;
  margin-top: 20px;
}
.main .up img {
  display: inline-block;
}
.main .up div {
  display: inline-block;
  float: right;
}
.main .up a {
  background-color: #7dbc29;
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 7px;
  margin-top: 20px;
  font-weight: bolder;
}
.main .down {
  background: #fff;
  height: 360px;
  padding: 30px;
}
.main .down h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.main .down form {
  margin-left: 140px;
  color: #666;
  vertical-align: top;
}
.main .down form img {
  display: inline-block;
}
.main .down .ok {
  margin-top: 20px;
}
.main .down .ok input {
  margin-left: 200px;
  padding: 12px 25px;
  background-color: #7dbc29;
  border: none;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
}
.main .down .input {
  margin: 20px 0 20px 20px;
  height: 30px;
  width: 30%;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.main .down .input:hover {
  border: 1px solid #005599;
}
.main .down img {
  margin-left: 210px;
  width: 140px;
  display: inline-block;
}
.main .down .change {
  margin-left: 30px;
  display: inline-block;
}
.main .down .find {
  margin-left: 30px;
  margin-bottom: 10px;
  display: inline-block;
  color: #666;
}
