<div class="img-top">
        <img src="images/show-3.JPG" alt="">
    </div>
    <div class="content clear w1000">
        <div class="left">
            <h2>
                <span></span>
                项目介绍
            </h2>
            <ul class="l-ul">
                <li><a href="project.html">莲花助学</a></li>
                <li class="active"><a href="pro4.html">顺丰莲花小学</a></li>
                <li><a href="pro3.html">一人一书桌</a></li>
            </ul>

        </div>
        <div class="right">
            <div class="r-t">
                <p class="one">
                    您当前的位置：
                    <a href="">首页</a>  &gt;
                    <a href="">  关于我们</a> &gt;
                    <span>顺丰莲花小学</span>
                </p>
            </div>
            <div class="show-ul">
                <ul class="ul">
                    <li>
                        <h3 class="h3">{{aboutR[0].txt1}}</h3>
                        <div class="p2">{{aboutR[0].txt2}}</div>
                    </li>
                    <li>
                        <h3 class="h3">{{aboutR[0].txt3}}</h3>
                        <div class="pl">
                            <h3>{{aboutR[0].txt4}}</h3>
                            ##for(var i = 0; i < aboutR[0].txt5.length; i++){##
                                <div class="p2">{{aboutR[0].txt5[i].txt}}</div>
                            ##}##
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>